annotated-types==0.6.0
attrs==23.2.0
blueetl==0.7.1
blueetl-core==0.1.7
bluepysnap==3.0.1
cached-property==1.5.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
deprecation==2.1.0
fonttools==4.49.0
h5py==3.10.0
importlib_resources==6.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
libsonata==0.1.24
matplotlib==3.8.3
more-itertools==10.2.0
morph-tool==2.10.2
MorphIO==3.3.7
neurom==3.2.8
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pyarrow==15.0.1
pydantic==2.6.3
pydantic_core==2.16.3
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
referencing==0.33.0
rpds-py==0.18.0
scipy==1.12.0
six==1.16.0
submitit==1.5.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
xarray==2024.2.0
xmltodict==0.13.0
